* {
  font-family: Arial;
  font-size: 1.167em; /* 14pt */
  line-height: 1.5em;
}

body {
  background-color: #ddd;
  color:#222;
  margin:0;
  padding: 0;
}

.contraido {
  display: none;
}

.imagen-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.menu-accesible {
  background-color: #336699;
  color: #ffffff;
  width: 100%;
  float: left;
  padding:0;
  margin:0;
  border: 0;
  height: auto;
}

.menu-accesible .enlace-marca {
  float: left;
  max-width: 80%;
  width:auto;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.menu-accesible button.accion-desplegable {
  display: block;
  float: right;
  max-width: 20%;
  width:auto;
  background-color: #336699;
  color: white;
  padding: 0.3em;
  margin: 0.5em;
  cursor: pointer;
  border: 1px solid white;
  text-align: center;
  box-shadow: none;
}

.menu-accesible .elemento-desplegable {
  float: left;
  clear:both;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-accesible .elemento-desplegable li {
  float: left;
  width: 100%;
}

.menu-accesible .elemento-desplegable li a {
  padding: 0.5em 1em;
  text-decoration: none;
  color:white;
  display: block;
}

@media only screen and (min-width: 766px) {
  .menu-accesible .enlace-marca {
    max-width: 30%;
    width: auto;
  }
  .menu-accesible > .elemento-desplegable {
    clear: none;
    float: right;
    max-width: 70%;
    width: auto;
    display:block;
    padding:0;
  }
  .menu-accesible > .elemento-desplegable li {
    float: left;
    width: auto;
    display: block;
  }
  .menu-accesible > .elemento-desplegable li a {
    padding: 0.5em;
  }
  .menu-accesible button.accion-desplegable {
    display: none;
  }
  .menu-accesible .elemento-desplegable .elemento-desplegable {
    clear: both;
    float: left;
    max-width: 30%;
    width: auto;
    padding:0;
  }

}
@media only screen and (min-width: 900px) {
  /*.menu-accesible {
    padding:0.5em 1em;
  }*/
  /*.menu-accesible .enlace-marca {
    padding:0;
    padding-left: 0.5em;
    margin-top: 0.15em;
 }*/
}
