/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* MENU ACCESIBLE */
* {
  font-family: Arial, Verdanan Helvetica;
  font-size: 1.167em; /* 14pt */
  line-height: 1.5em;
}

h1 {
  font-size: 1.5em;
  line-height: 1.5em;
  padding-bottom: 1em;
}

body {
  background-color: #ddd;
  color:#222;
}

.contraido {
  display: none;
}

.imagen-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.menu-accesible {
  background-color: #336699;
  color: #ffffff;
  width: 100%;
  float: left;
  height: auto;
}

.menu-accesible .enlace-marca {
  float: left;
  max-width: 80%;
  width:auto;
  text-decoration: none;
}

.menu-accesible button.accion-desplegable {
  display: block;
  float: right;
  max-width: 20%;
  width:auto;
  background-color: #336699;
  color: white;
  padding: 0.3em;
  margin: 0.5em;
  cursor: pointer;
  border: 1px solid white;
  text-align: center;
  font-size: 1.333em; /* 14pt */
}

.menu-accesible .elemento-desplegable {
  float: left;
  clear:both;
  list-style: none;
}

.menu-accesible .elemento-desplegable li {
  float: left;
  width: 100%;
}

.menu-accesible .elemento-desplegable li a {
  padding: 0.5em 1em;
  text-decoration: none;
  color:white;
  display: block;
  font-size: 1.333em; /* 14pt */
}

@media only screen and (min-width: 766px) {
  .menu-accesible .enlace-marca {
    max-width: 30%;
    width: auto;
  }
  .menu-accesible > .elemento-desplegable {
    clear: none;
    float: right;
    max-width: 70%;
    width: auto;
    display:block;
    padding:0;
  }
  .menu-accesible > .elemento-desplegable li {
    float: left;
    width: auto;
    display: block;
  }
  .menu-accesible > .elemento-desplegable li a {
    /*padding: 0.5em;
    display: inline-block;
    vertical-align: middle;*/
  }
  .menu-accesible button.accion-desplegable {
    display: none;
  }
  /*.menu-accesible .elemento-desplegable .elemento-desplegable {
    clear: both;
    float: left;
    max-width: 30%;
    width: auto;
    padding:0;
  }*/

  .menu-accesible .elemento-desplegable .expandido {
    position: absolute;
    top:auto;
    left: 800px;
    background-color: #336699;
    color: #ffffff;
    width: 100%;
  }
  .menu-accesible .elemento-desplegable .expandido li {
    width: 100%;
  }

}
@media only screen and (min-width: 900px) {
  /*.menu-accesible {
    padding:0.5em 1em;
  }*/
  /*.menu-accesible .enlace-marca {
    padding:0;
    padding-left: 0.5em;
    margin-top: 0.15em;
 }*/
}
